@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body
{
  min-height : 800px ;
  min-width : 300px;
  user-select : none;
  max-width : 550px;
  overflow-x: hidden;
}

h3
{
	border-bottom: 4px solid  #57c4d0;
  	display: inline;
  	font-family: 'Source Sans Pro' , sans-serif;
}

ul
{
	list-style-type: none;
	text-align: center;
  margin-left: -60px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  max-height: 200px;
  margin: 1rem;
  position: relative;
  width: 350px;
  align-content: left;
  padding: 20px;
  text-align: left;
  margin-right: 30px;
  padding-top: 5px;
}

.coursecard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.coursecard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cardtext{
	color: white;
	font-family: 'Source Sans Pro' , sans-serif;
	text-align: left;
}

.cardTitle{
	color: white;
	font-family: 'Source Sans Pro' , sans-serif;
	font-size: 15px;
	margin-bottom : 100px;
  padding-top: 100px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  font-weight: bold;
}

.cardBody{
	color: white;
	font-family: 'Source Sans Pro' , sans-serif;
	font-size: 12px;
	margin-top: 60px;
}

.cardDays{
  color: white;
  font-family: 'Source Sans Pro' , sans-serif;
  font-size: 20px;
  margin-bottom : 100px;
  font-weight: 30%;
}


#topbar{
  position: relative;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;  /*#263238;*/
    padding: 5px;
    margin: auto;
    text-align: center;
}

.button {

    background-color: #3F51B5; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    font-family: 'Source Sans Pro' , sans-serif;
    font-weight: bold;
    margin: auto;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color:  #3F51B5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



#addform{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: none;
}

.markbutton{
  position: relative;
  margin-top: 7px;
  border: solid white;
  border-width: thin;
  font-family: 'Source Sans Pro' , sans-serif;
  color: white;
  background-color: #3F51B5;

}



input[type="checkbox"] {
    display:inline-block
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}
/*
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
*/
input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

.clockdiv{
  display: inline-block;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro' , sans-serif;
  font-size: 15px;
  margin-left: -3px;
}

.clockdiv > div{
  padding: 1px;
  display: inline-block;
}

.clockdiv div > span{
  padding-top: 2px;
  padding-right: 10px;
  display: inline-block;
}

.smalltext{
  padding-top: 2px;
  padding-right: 5px;
  font-size: 11px;
}

#defaultdisplaymessage
{
  display: inline-block;
}

#defaultcompletemessage
{
  display: inline-block;
}

.dd
{
  display: none;
}
